/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #98B0C6;
    --sidebar-color: #2C4972;
    --primary-color: #6A96B9; 
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #FFFFFF;
    --dashboard-text-color: #325E89; 

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --dashboard-text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 78px;
}

.sidebar li{
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 50px; 
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 50px; 
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color); 
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    display: flex;
    align-items: center; 
}
.sidebar.close .text{
    opacity: 0;
}


.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: #FFFFFF; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: #FFFFFF; 
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 0px; 
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color); 
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color); 
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.sidebar .bottom-content {
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 230px; 
    height: 100vh;
    width: calc(100% - 230px); 
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--dashboard-text-color); 
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--dashboard-text-color); 
}

.responsive-div {
    padding: 20px;
    margin: 15px;
    background-color: #C1D7E2;
    border: 1px solid #C1D7E2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

}

@media (min-width: 600px) {
    .responsive-div {
        padding: 30px;
        margin: 30px;
    }
}

@media (min-width: 1024px) {
    .responsive-div {
        padding: 30px;
        margin: 60px;
        margin-top: 20px;
    }}

    .search-bar {
        display: flex;
        justify-content: left;
        margin: 10px;
    }

    .search-bar input[type="text"] {
        width: 70%; /* Adjust the width as needed */
        max-width: 600px; /* Set a maximum width */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px 0 0 4px;
        outline: none;
    }


    .search-bar button {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #007BFF;
        color: white;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

    .search-bar button:hover {
        background-color: #0056b3;
    }
    .add-emp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 10px;
        margin-top: 2%;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

    .add-emp button {
        padding: 10px 20px;
        border: 1px solid #ddd;
        background-color: #6A96B9;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .add-emp button:hover {
        background-color: #2C4972;
    }
    table{
        width: 100%;
        table-layout: fixed;
        min-height: 1000px;
        border: 1px solid;
    }
    td{
        position: sticky;
        background-color: black;
        color: white;
    }